@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

:root {
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;

  background-color: #dad9d9;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.logo-font {
  font-family: Tilt Neon, Arial, Helvetica, sans-serif;
}
